*/.ipynb_checkpoints/*
*.ipynb_checkpoints*
data-stories/school-attendance/At Risk Students For Dartmouth.xlsx
*.DS_Store
hypertools_data
supereeg_data
nltk_data
slides/*.ipynb
assignments/README.md
assignments/assignment*/Assignment_*.md